@use '../../../libs/ui/src/styles/glint-ui';

/* Demo app global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  color: #334155;
  background: #f8fafc;
  -webkit-font-smoothing: antialiased;
}
